.meal-list {
	margin: 3.75em -1.875em;
	padding: 0;
	list-style: none;

	li {
		float: left;
		width: 33.333%;
		margin: 0 0 3.75em;
		padding: 0 1.875em;
	}

	a {
		color: $text;
		text-decoration: none;
	}

	img {
		width: 100%;
	}

	h2 {
		margin: 1.125em 0 0;
		font-size: 1.375em;
		font-family: $serif;
		font-weight: 400;
	}
}