.sentence-filter {
	margin: .5em 0 0 0;
	font-size: 1.75em;
	font-weight: 300;
	color: $white;

	@include breakpoint(small) {
		margin: 3.5em 0 0 0;
		font-size: 2em;
	}
}

.sf-contain {
	display: block;
	padding: .75em 0 0;

	@include breakpoint(small) {
		display: inline-block;
		padding: .25em 0 0;
	}
}

.sf-drop-contain {
	display: block;
	position: relative;

	@include breakpoint(small) {
		display: inline-block;
	}
}

.sf-trigger {
	display: inline-block;
	width: 100%;
	padding: 0 .325em .063em;
	background: rgba(0,0,0,.15);
	color: $primary;
	font-weight: 400;
	text-decoration: none;
	transition: background .2s ease;

	&:hover {
		background: $blue;
	}

	&::after {
		content: "";
		float: right;
		margin: 1em 0 0 .563em;
		width: 1.063em;
		height: .563em;
		font-size: 0.571em;
		background: url(../images/icon-chevron.png) no-repeat;
		transition: transform .2s ease;
	}

	.sf-drop--open & {
		background: $blue;

		&::after {
			margin-top: .875em;
			transform: rotate(180deg);
		}
	}

	@include breakpoint(small) {
		width: auto;
	}
}

.sf-drop {
	display: none;
	position: absolute;
	z-index: 1;
	margin: 0;
	padding: 0 0 .25em;
	width: 100%;
	list-style: none;
	background: $blue;
	font-weight: 400;
	text-align: center;

	a {
		display: block;
		padding: .375em .625em;
		color: $white;
		text-decoration: none;
		font-size: .625em;

		&:hover {
			color: $primary;
			background: $blue-dark;
		}
	}

	.active {
		color: $primary;
	}

	.sf-drop--open & {
		display: block;
	}

	@include breakpoint(small) {
		text-align: left;
	}
}