.sentence-filter {
	margin: .5em 0 0 0;
	font-size: 1.75em;
	font-weight: 300;
	color: $white;

	@include breakpoint(small) {
		margin: 3.5em 0 0 0;
		font-size: 2em;
	}
}

.sf-contain {
	display: block;
	padding: .75em 0 0;

	@include breakpoint(small) {
		display: inline-block;
		padding: .25em 0 0;
	}
}

.sf-drop-contain {
	display: block;
	position: relative;

	@include breakpoint(small) {
		display: inline-block;
	}
}

.sf-trigger {
	display: inline-block;
	padding: 0 .325em .063em;
	margin: 0 .063em 0 0;
	background: rgba(0,0,0,.15);
	color: $primary;
	font-weight: 400;
	text-decoration: none;
}